doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel="alternate", type="application/rss+xml", title="[##_title_##]", href="[##_rss_url_##]")
    link(rel="stylesheet", media="screen", type="text/css", href="./style.css")
    link(rel="stylesheet", media="print", type="text/css", href="./images/print.css")
    link(rel="shortcut icon", href="[##_blog_link_##]favicon.ico")
    title [##_title_##] :: [##_page_title_##]
  body#[##_body_id_##]
    s_t3
      #header.floatWrapper
        .wrapper
          // 블로그제목
          h1
            a(href="[##_blog_link_##]", title="[##_title_##]") [##_title_##]
          // 검색 모듈
          #searchBox
            s_search
              input(type="text", name="[##_search_name_##]", value="[##_search_text_##]", onkeypress="if (event.keyCode == 13) { [##_search_onclick_submit_##] }")
              button(type="button", onclick="[##_search_onclick_submit_##]") search
        // close wrapper
      // close header
      // 블로그메뉴
      #blogMenu.floatWrapper
        .wrapper
          ul
            // 블로그 사용 환경 (설치형/티스토리)에 맞게 아래 주석으로 처리된 메뉴를 활성화 시키시기 바랍니다.
            li.tab_home
              a(href="[##_blog_link_##]", title="Home") Home
            li.tab_tag
              a(href="[##_taglog_link_##]", title="Tag") Tag
            li.tab_media
              a(href="[##_blog_link_##]media", title="MediaLog") MediaLog
            li.tab_location
              a(href="[##_localog_link_##]", title="LocationLog") LocationLog
            // <li class="tab_key"><a href="[##_keylog_link_##]" title="KeyLog">KeyLog</a></li>
            li.tab_guestbook
              a(href="[##_guestbook_link_##]", title="Guestbook") Guestbook
            li.tab_admin
              a(href="[##_owner_url_##]", title="Admin") Admin
            li.tab_write
              a(href="[##_owner_url_##]/entry/post", title="Write") Write
        // close wrapper
      // close blogMenu
      #container
        #outer_btn_left
        #outer_btn_right
        #antibg
          // 태그
          s_tag
            #taglog.nonEntry
              h3 &#53468;&#44536;
              ul
                s_tag_rep
                  li
                    a.[##_tag_class_##](href="[##_tag_link_##]") [##_tag_name_##]
          // 지역로그
          s_local
            #localog.nonEntry
              h3 &#51648;&#50669;&#47196;&#44536;
              s_local_spot_rep
                .spot(style="margin-left:[##_local_spot_depth_##]px")
                  | [##_local_spot_##]
              s_local_info_rep
                .info(style="margin-left:[##_local_info_depth_##]px")
                  a(href="[##_local_info_link_##]") [##_local_info_title_##]
            // close localog
          s_guest
            #guestbook.nonEntry
              h3 &#48169;&#47749;&#47197;
              s_guest_input_form
                // 방명록쓰기
                #guestWrite
                  s_guest_member
                    s_guest_form
                      p.input
                        input#name.name(type="text", name="[##_guest_input_name_##]", value="[##_guest_name_##]")
                        label(for="name") Name
                        input#password.password(type="password", name="[##_guest_input_password_##]", value="")
                        label(for="password") Password
                        input#homepage.homepage(type="text", name="[##_guest_input_homepage_##]", value="[##_guest_homepage_##]")
                        label(for="homepage") Homepage
                    p.secretWrap
                      input#[##_guest_input_is_secret_##].checkbox(type="checkbox", name="[##_guest_input_is_secret_##]", value="1")
                      label(for="[##_guest_input_is_secret_##]") secret
                  p
                    textarea(name="[##_guest_textarea_body_##]", cols="50", rows="6")  
                  p.button
                    input.submit(type="submit", value="안부 남기기", onclick="[##_guest_onclick_submit_##]")
              s_guest_container
                // 방명록읽기
                #guestList
                  ol
                    s_guest_rep
                      li#[##_guest_rep_id_##]
                        .[##_guest_rep_class_##]
                          span.date  [##_guest_rep_date_##]
                          span.name [##_guest_rep_name_##]
                          span.control
                            a.modify(href="#", onclick="[##_guest_rep_onclick_delete_##]", title="수정/삭제")
                              span &#49688;&#51221;/&#49325;&#51228;
                            a.write(href="#", onclick="[##_guest_rep_onclick_reply_##]", title="댓글쓰기")
                              span &#45843;&#44544;&#50416;&#44592;
                          p [##_guest_rep_desc_##]
                        s_guest_reply_container
                          ul
                            s_guest_reply_rep
                              li#[##_guest_rep_id_##]
                                .[##_guest_rep_class_##]
                                  span.name [##_guest_rep_name_##]
                                  span.date  [##_guest_rep_date_##]
                                  span.control
                                    a.modify(href="#", onclick="[##_guest_rep_onclick_delete_##]", title="수정/삭제")
                                      span &#49688;&#51221;/&#49325;&#51228;
                                  p [##_guest_rep_desc_##]
                // close guestList
            // close guestbook
          // 본문검색리스트
          s_list
            #searchList.listEntry
              h3 "[##_list_conform_##]"&#50640; &#54644;&#45817;&#46104;&#45716; &#44544; [##_list_count_##]&#44148;
              ol
                s_list_rep
                  li
                    span.date [##_list_rep_regdate_##]
                    a(href="[##_list_rep_link_##]") [##_list_rep_title_##]
                    span.cnt [##_list_rep_rp_cnt_##]
            // close searchList
          // 댓글검색리스트
          s_rplist
            #searchRplist.listEntry
              h3 "[##_rplist_conform_##]"&#50640; &#54644;&#45817;&#46104;&#45716; &#45843;&#44544; [##_rplist_count_##]&#44148;
              ol
                s_rplist_rep
                  li
                    span.date [##_rplist_rep_regdate_##]
                    a(href="[##_rplist_rep_link_##]") [##_rplist_rep_body_##]
                    span.cnt [##_rplist_rep_rp_cnt_##]
                    span.name [##_rplist_rep_name_##]
            // close searchRplist
          // 공지사항글
          s_notice_rep
            .entryNotice
              .titleWrap
                h2
                  a(href="[##_notice_rep_link_##]") [##_notice_rep_title_##]
                span.category &#44277;&#51648;&#49324;&#54637; : 
                span.date [##_notice_rep_date_##]
              .article
                | [##_notice_rep_desc_##]
            // close entryNotice
          // 보호글
          s_article_protected
            .entryProtected
              .titleWrap
                h2
                  a(href="[##_article_rep_link_##]") [##_article_rep_title_##]
                span.date [##_article_rep_date_##]
              .wrapper
                | &#48372;&#54840;&#46104;&#50612; &#51080;&#45716; &#44544;&#51077;&#45768;&#45796;.
                br
                | &#45236;&#50857;&#51012; &#48372;&#49884;&#47140;&#47732; &#48708;&#48128;&#48264;&#54840;&#47484; &#51077;&#47141;&#54616;&#49464;&#50836;.
                p.input
                  label(for="[##_article_password_##]") PASSWORD
                  input#[##_article_password_##](type="password", name="[##_article_password_##]", onkeydown="if (event.keyCode == 13) [##_article_dissolve_##]")
                  input.submit(type="button", value="확인", onclick="[##_article_dissolve_##]")
              // close wrapper
            // close entryProtected
          // 포스트의 본문 시작
          s_article_rep
            .entry
              .titleWrap
                h2
                  a(href="[##_article_rep_link_##]") [##_article_rep_title_##]
                span.author
                  span.text Posted by
                  | [##_article_rep_author_##]
                span.category
                  a(href="[##_article_rep_category_link_##]") [##_article_rep_category_##]
                  | :
                span.date [##_article_rep_date_##]
                // 포스트관리
                s_ad_div
                  .admin
                    | ([##_s_ad_s1_label_##])&#8594;
                    a(href="#", onclick="[##_s_ad_s2_onclick_##]") [##_s_ad_s2_label_##]
                    | |
                    a(href="[##_s_ad_m_link_##]", title="Modify") Modify
                    | |
                    a(href="#", onclick="[##_s_ad_m_onclick_##]", title="Modify(new windows)") Modify(new windows)
                    | |
                    a(href="#", onclick="[##_s_ad_t_onclick_##]", title="Trackback") Trackback
                    | |
                    a(href="#", onclick="[##_s_ad_d_onclick_##]", title="Delete") Delete
              // close titleWrap
              // 포스트 본문 내용
              .article
                | [##_article_rep_desc_##]
              // close article
              // article 뒤에 오는 마크업엔 반드시 clear:both 를 지정해준다
              // 태그트레일
              s_tag_label
                .tagTrail
                  span &#53468;&#44536; : 
                  | [##_tag_label_rep_##]
                // close tagTrail
              .actionTrail
                a(href="#tb", onclick="[##_article_rep_tb_link_##]", title="TRACKBACK")
                  s_tb_count
                    | TRACKBACK
                    span.cnt [##_article_rep_tb_cnt_##]
                a(href="#rp", onclick="[##_article_rep_rp_link_##]", title="COMMENT")
                  s_rp_count
                    | COMMENT
                    span.cnt [##_article_rep_rp_cnt_##]
              // 트랙백
              s_tb
                .trackback
                  h3
                    span.title &#53944;&#47001;&#48177; &#51452;&#49548; - 
                    | [##_tb_address_##]
                  s_tb_container
                    ol
                      s_tb_rep
                        li#[##_tb_rep_id_##]
                          span.date [##_tb_rep_date_##]
                          h4
                            span Subject: 
                            a(href="[##_tb_rep_url_##]", onclick="window.open(this.href); return false", rel="external nofollow") [##_tb_rep_title_##]
                            a.delete(href="#", onclick="[##_tb_rep_onclick_delete_##]; return false", title="삭제")
                              span &#49325;&#51228;
                          p [##_tb_rep_desc_##]
                          .from
                            | TRACKED FROM
                            span.name [##_tb_rep_site_##]
                  .space &#160;
                // close trackback
              s_rp
                .comment
                  h3 &#45843;&#44544;&#51012; &#45804;&#50500; &#51452;&#49464;&#50836; 
                  // 댓글읽기
                  .commentList
                    s_rp_container
                      ol
                        s_rp_rep
                          li#[##_rp_rep_id_##]
                            .[##_rp_rep_class_##]
                              span.date  [##_rp_rep_date_##]
                              span.name [##_rp_rep_name_##]
                              span.control
                                a.address(href="[##_rp_rep_link_##]", title="댓글주소")
                                  span &#45843;&#44544;&#51452;&#49548;
                                a.modify(href="#", onclick="[##_rp_rep_onclick_delete_##]", title="수정/삭제")
                                  span &#49688;&#51221;/&#49325;&#51228;
                                a.write(href="#", onclick="[##_rp_rep_onclick_reply_##]", title="댓글쓰기")
                                  span &#45843;&#44544;&#50416;&#44592;
                              p [##_rp_rep_desc_##]
                            s_rp2_container
                              ul
                                s_rp2_rep
                                  li#[##_rp_rep_id_##]
                                    .[##_rp_rep_class_##]
                                      span.name [##_rp_rep_name_##]
                                      span.date  [##_rp_rep_date_##]
                                      span.control
                                        a.address(href="[##_rp_rep_link_##]", title="댓글주소")
                                          span &#45843;&#44544;&#51452;&#49548;
                                        a.modify(href="#", onclick="[##_rp_rep_onclick_delete_##]", title="수정/삭제")
                                          span &#49688;&#51221;/&#49325;&#51228;
                                      p [##_rp_rep_desc_##]
                  // close commentList
                  // 댓글쓰기
                  s_rp_input_form
                    .commentWrite
                      s_rp_member
                        s_rp_guest
                          p.input
                            input#[##_rp_input_name_##]_[##_article_rep_id_##].name(type="text", name="[##_rp_input_name_##]", value="[##_guest_name_##]")
                            label(for="[##_rp_input_name_##]_[##_article_rep_id_##]") Name
                            input#[##_rp_input_password_##]_[##_article_rep_id_##].password(type="password", name="[##_rp_input_password_##]", value="")
                            label(for="[##_rp_input_password_##]_[##_article_rep_id_##]") Password
                            input#[##_rp_input_homepage_##]_[##_article_rep_id_##].homepage(type="text", name="[##_rp_input_homepage_##]", value="[##_guest_homepage_##]")
                            label(for="[##_rp_input_homepage_##]_[##_article_rep_id_##]") Homepage
                        p.secretWrap
                          input#[##_rp_input_is_secret_##]_[##_article_rep_id_##].checkbox(type="checkbox", name="[##_rp_input_is_secret_##]")
                          label(for="[##_rp_input_is_secret_##]_[##_article_rep_id_##]") secret
                      p
                        textarea(name="[##_rp_input_comment_##]", rows="6", cols="50")
                      p.button
                        input.submit(type="submit", value="댓글 달기", onclick="[##_rp_onclick_submit_##]")
                    // close commentWrite
                // close comment
            // close entry
          // 페이지
          s_paging
            #paging
              a#prevPage.[##_no_more_prev_##]([##_prev_page_##]="", title="이전")
                span &#171;&#51060;&#51204;
              span.numbox
                s_paging_rep
                  a.num([##_paging_rep_link_##]="") [##_paging_rep_link_num_##]
              a#nextPage.[##_no_more_next_##]([##_next_page_##]="", title="다음")
                span &#45796;&#51020;&#187;
              script(type="text/javascript")
                //<![CDATA[
                var tmp_outer_btn_left = "<a [##_prev_page_##] title='이전 페이지'><img src='./images/btn_outer_prev.gif' alt='prev' /></a>";
                var tmp_outer_btn_right = "<a [##_next_page_##] title='다음 페이지'><img src='./images/btn_outer_next.gif' alt='next' /></a>";
                document.getElementById("outer_btn_left").innerHTML = tmp_outer_btn_left;
                document.getElementById("outer_btn_right").innerHTML = tmp_outer_btn_right;
                //]]>
        // close antibg
      // close container
      hr
      #sidebar
        .wrapper.floatWrapper
          .sidebar-one
            s_sidebar
              s_sidebar_element
                // 블로그 이미지 모듈
                #blogImage
                  img(src="[##_image_##]", alt="블로그 이미지")
              s_sidebar_element
                // 블로그 설명 모듈
                span#userID [##_blogger_##]
                span#blogDesc [##_desc_##]
              s_sidebar_element
                // 달력 모듈
                #calendar
                  h3 &#45804;&#47141;
                  s_custom_calendar
                    table.tt-calendar(cellpadding="0", cellspacing="1", style="width: 100%; table-layout: fixed")
                      caption.cal_month
                        a.prev-month(href="[##_prev_month_##]", title="1개월 앞의 달력을 보여줍니다.") &#171;
                        a.next-month(href="[##_next_month_##]", title="1개월 뒤의 달력을 보여줍니다.") &#187;
                        a.this-month(href="[##_this_month_##]", title="현재 달의 달력을 보여줍니다.") [##_year_##].[##_month_##]
                      s_calendar_header
                        thead
                          tr
                            s_calendar_header_item
                              th.[##_class_##] [##_title_##]
                      s_calendar_days
                        tbody
                          s_calendar_week
                            tr.[##_class_##]
                              s_calendar_days_item
                                td.[##_class_##] [##_day_##]
              s_sidebar_element
                // 공지사항 모듈
                s_rct_notice
                  #notice
                    h3.stitle &#44277;&#51648;&#49324;&#54637;
                    ul
                      s_rct_notice_rep
                        li
                          a(href="[##_notice_rep_link_##]") [##_notice_rep_title_##]
              s_sidebar_element
                // 태그목록 모듈
                #tagbox
                  h3.stitle &#53468;&#44536;&#47785;&#47197;
                  ul
                    s_random_tags
                      li
                        a.[##_tag_class_##](href="[##_tag_link_##]")  [##_tag_name_##]
          // close one
          .sidebar-two
            s_sidebar
              s_sidebar_element
                // 최근 포스트 모듈
                #recentPost
                  h3.stitle &#52572;&#44540;&#50640; &#50732;&#46972;&#50728; &#44544; 
                  ul
                    s_rctps_rep
                      li
                        a(href="[##_rctps_rep_link_##]") [##_rctps_rep_title_##].
                        span.cnt [##_rctps_rep_rp_cnt_##]
              s_sidebar_element
                // 최근 댓글 모듈
                #recentComment
                  h3.stitle &#52572;&#44540;&#50640; &#45804;&#47536; &#45843;&#44544;
                  ul#recentComments
                    s_rctrp_rep
                      li
                        a(href="[##_rctrp_rep_link_##]") [##_rctrp_rep_desc_##].
                        span.info
                          span.name [##_rctrp_rep_name_##]
                          span.date [##_rctrp_rep_time_##]
              s_sidebar_element
                // 최근 트랙백 모듈
                #recentTrackback
                  h3.stitle &#52572;&#44540;&#50640; &#48155;&#51008; &#53944;&#47001;&#48177;
                  ul
                    s_rcttb_rep
                      li
                        a(href="[##_rcttb_rep_link_##]") [##_rcttb_rep_desc_##].
                        span.info
                          span.name [##_rcttb_rep_name_##]
                          span.date [##_rcttb_rep_time_##]
              s_sidebar_element
                // 글 보관함 모듈
                #archive
                  h3.stitle &#44544; &#48372;&#44288;&#54632;
                  ul
                    s_archive_rep
                      li
                        a(href="[##_archive_rep_link_##]") [##_archive_rep_date_##]
                        span.cnt ([##_archive_rep_count_##])
          // close two
          .sidebar-three
            s_sidebar
              s_sidebar_element
                // 링크 모듈
                #link
                  h3.stitle &#47553;&#53356;
                  ul
                    s_link_rep
                      li
                        a(href="[##_link_url_##]", onclick="window.open(this.href); return false") [##_link_site_##].
          // close three
          .sidebar-four
            s_sidebar
              s_sidebar_element
                // 카테고리 모듈
                #category
                  h3 &#52852;&#53580;&#44256;&#47532;
                  // 원하는 디자인에 맞게 아래 주석으로 처리된 메뉴를 활성화 시키시기 바랍니다.
                  | [##_category_##]
                  // [##_category_list_##]
          // close four
          .sidebar-five
            s_sidebar
              s_sidebar_element
                // 카운터 모듈
                #counter
                  .total
                    span Total : 
                    | [##_count_total_##]
                  .today
                    span Today : 
                    | [##_count_today_##]
                  .yesterday
                    span Yesterday : 
                    | [##_count_yesterday_##]
              s_sidebar_element
                // RSS 링크
                #btnRSS
                  a(href="[##_rss_url_##]", onclick="window.open(this.href); return false", title="[##_title_##] 구독하기")
                    span [##_title_##] &#44396;&#46021;&#54616;&#44592;
          // close five
        // close wrapper
      // close sidebar
      hr
      #footer
        // 배너 모듈 - 티스토리
        #adTistory
          a(href="http://www.tistory.com/join", title="티스토리 가입하기") &#54000;&#49828;&#53664;&#47532; &#44032;&#51077;&#54616;&#44592;
        // 푸터메뉴
        #footMenu
          // 블로그 사용 환경 (설치형/티스토리)에 맞게 아래 주석으로 처리된 메뉴를 활성화 시키시기 바랍니다.
          a(href="[##_taglog_link_##]", title="태그") &#53468;&#44536;
          | :
          a(href="[##_blog_link_##]media", title="미디어로그") &#48120;&#46356;&#50612;&#47196;&#44536;
          | :
          a(href="[##_localog_link_##]", title="지역로그") &#51648;&#50669;&#47196;&#44536;
          | :
          // <a href="[##_keylog_link_##]" title="키로그">키로그</a> :
          a(href="[##_guestbook_link_##]", title="방명록") &#48169;&#47749;&#47197;
          | :
          a(href="[##_owner_url_##]", title="관리자") &#44288;&#47532;&#51088;
          | :
          a(href="[##_owner_url_##]/entry/post", title="글쓰기") &#44544;&#50416;&#44592;
        // 카피라이트
        #copyright
          | Blog is powered by
          a(href="http://daum.net", onclick="window.open(this.href); return false", title="Daum 바로가기") Daum
          | / Designed by
          a(href="http://www.tistory.com", title="Tistory 바로가기") Tistory
      // close footer
